<mat-nav-list *ngIf="displayPeriods === true" class="list-horizontal">
  <mat-list-item *ngFor="let timePeriod of timePeriods?.reverse()">
    <a href="#" (click)="periodEvent(timePeriod?.value)">{{timePeriod?.value}}</a>
  </mat-list-item>
</mat-nav-list>
<google-chart
*ngIf="chartData?.length > 0"
  [title]="chart.title"
  [type]="chart.type"
  [data]="chartData"
  [columnNames]="chart.columnNames"
  [options]="chart.options"
></google-chart>