
/* here's what you're looking for B-) */
mat-nav-list.list-horizontal {
    padding: 0;
}
mat-nav-list.list-horizontal .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
    background:#989494;
    border-right: 4px;
    height: 28px;
    margin-left: 5px;
}
.list-horizontal{
   position: relative;
   bottom: -60px;
   margin-left: 16%;
   z-index: 9999;
   font-weight: 500;
   font-size: 13px;
}
.charDiv{
   margin-top:50px;
}
mat-nav-list.list-horizontal .mat-list-item a:hover{
    text-decoration: underline;
    color:#ffffff;
}
 