<h3 class="pageHeading">Display Google Stocks Line Chart</h3>
<mat-card-content>
  <form class="my-form" [formGroup]="stockForm">
    <mat-form-field class="mar-lr-20">
      <input type="search" matInput placeholder="Symbol e.g AAPL" formControlName="symbol" />
      <mat-error *ngIf="submitted && f.symbol.errors">
        <span *ngIf="f.symbol.errors.required">Please enter a symbol</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mar-lr-20">
      <mat-label >Favorite time period</mat-label>
      <mat-select formControlName="period" style="z-index: 9999 !important;">
        <mat-option 
          *ngFor="let timePeriod of timePeriods" [value]="timePeriod.value"
        >
          {{ timePeriod.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="submitted && f.period.errors" >
        <span *ngIf="f.period.errors.required">Please select time period</span>
      </mat-error>
    </mat-form-field>
    <button (click)="fetchQuote()" mat-raised-button class="goButton">Go</button>
  </form>
</mat-card-content>

<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>