.mar-lr-20{
    margin-left: 20px;
    margin-right: 20px;
}
.goButton{
    background: #3f51b5;
    width: 100px;
    color: #fff;
    font-size: 18px;margin-left: 15px;
}
.pageHeading{
    margin-left: 20px;
}

