<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span>HOME</span>
  </mat-toolbar-row>
</mat-toolbar>
<app-stocks></app-stocks>
<!-- <router-outlet></router-outlet> -->
<!-- <app-line-chart></app-line-chart> -->
